<div class="container mt-4">
  <h2 class="my-4"><b>Stats</b></h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Operation</th>
        <th>Count</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Delete</td>
        <td>{{ data.Delete }}</td>
      </tr>
      <tr>
        <td>Update</td>
        <td>{{ data.Update }}</td>
      </tr>
      <tr>
        <td>Insert</td>
        <td>{{ data.Insert }}</td>
      </tr>
      <tr>
        <td>Retrieve</td> <!-- Corrected from 'Retrive' to 'Retrieve' -->
        <td>{{ data.Retrieve }}</td>
      </tr>
    </tbody>
  </table>
</div>
