<div class="container mt-4">
    <div class="form-section">
        <h2><b>Add New Driver</b></h2>
        <!-- <form (ngSubmit)="addDriver()" #driverForm="ngForm"> -->
            <div class="form-group">
                <label for="driverName">Driver Name</label>
                <input type="text" id="driverName" name="driverName" [(ngModel)]="driver.driverName" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="driverDepartment">Driver Department</label>
                <select id="driverDepartment" name="driverDepartment" [(ngModel)]="driver.driverDepartment" class="form-control" required>
                    <option value="" disabled>Select a Department</option>
                    <option value="Food">Food</option>
                    <option value="Furniture">Furniture</option>
                    <option value="Electronic">Electronic</option>
                </select>
            </div>
            <div class="form-group">
                <label for="driverLicence">Driver Licence</label>
                <input type="text" id="driverLicence" name="driverLicence" [(ngModel)]="driver.driverLicence" class="form-control" required>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" id="driverIsActive" name="driverIsActive" [(ngModel)]="driver.driverIsActive" class="form-check-input">
                <label for="driverIsActive" class="form-check-label">Is Allocated</label>
            </div>
            <!-- <button type="submit" class="btn btn-primary mt-3" [disabled]="!driverForm.form.valid">Add Driver</button> -->
            <button class="btn btn-primary mt-3" (click)="addDriver()">Add Driver</button>
        <!-- </form> -->
    </div>
</div>