<style>
    /* Style for the footer section */
    .footer {
        background-color: #f1f1f1;
        /* Set background */
        padding: 20px 0;
        /* Add padding */
        text-align: left;
        /* Center the text */
        color: #333;
        /* Set text color */
        bottom: 0;
        /* Align the footer to the bottom */
        width: 100%;
        /* Make the footer span the full width of the page */
        flex-shrink: 0;
    }

</style>

<footer class="footer">
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3>Gan Ruiqi</h3>
        </div>
        <div class="col-md-4">
            <h3>About Us</h3>
            <p>At rq delivery, we ensure swift, reliable, and secure deliveries. Our team is committed to timely
                service and exceptional customer care, providing a seamless delivery experience from start to
                finish.</p>
        </div>
        <div class="col-md-4">
            <h3>Contact Us</h3>
            <p>Email: rgan0020&#64;student.monash.edu<br>
                Student ID: 33521204<br>
                Phone: +614156123<br>
                Address: FIT2095, FIT, Monash University</p>
        </div>
    </div>
    <p>&copy; 2024 RqDelivery. All rights reserved.</p>
</div>
</footer>